@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
  margin: 0;
  padding:0;
  max-width: 100%;
}

body{
  background-image: url('https://media.giphy.com/media/ZnKdSM5piRLDW/source.gif');
}
h1{

color:lightyellow;
text-align: center;
font-family: 'Raleway', sans-serif;
padding:20px;
border: 6px;

}
#sss {
margin:center;
  width:50%;


}
#click {
 font-weight: bold;
 font-size: 2em;
 position:center;
 cursor: pointer;
}
#mv {
  visibility: hidden;
}

#tbc{
  margin-left: 1px;
  margin-top: 5px;
  width:20%;

}
#catmv{
  visibility: hidden;
  margin-top: 20px;}
